	
	<!-- Stylesheets  -->
	<link rel="stylesheet" type="text/css" href="templates/tema2/slider2/css/960.css" />
	<link rel="stylesheet" type="text/css" href="templates/tema2/slider2/css/slider.css" />
    <!-- Javascript -->
    <script type="text/javascript" src="templates/tema2/slider2/js/jquery.js"></script>
    <script type="text/javascript" src="templates/tema2/slider2/js/jquery.innerfade.js"></script>
    <script type="text/javascript" src="templates/tema2/slider2/js/config.js"></script>
<div id="innerfade-holder" class="container_16">
<div id="slider" class="grid_16">
    <div class="grid_10 alpha">
      <ul id="portfolio">
      		<li><a href="http://www.stylephp.com"><img src="templates/tema2/slider2/images/slider/1.jpg" alt="first image" /></a></li>
	      	<li><a href="http://www.stylephp.com"><img src="templates/tema2/slider2/images/slider/2.jpg" alt="second image" /></a></li>
	      	<li><a href="http://www.stylephp.com"><img src="templates/tema2/slider2/images/slider/3.jpg" alt="third image" /></a></li>
	      	<li><a href="http://www.stylephp.com"><img src="templates/tema2/slider2/images/slider/4.jpg" alt="fourth image" /></a></li>
	      	<li><a href="http://www.stylephp.com"><img src="templates/tema2/slider2/images/slider/5.jpg" alt="fifth image" /></a></li>
        
      </ul>
      <ul id="slide_nav">
      	<li class="slide_0"></li>
      	<li class="slide_1"></li>
      	<li class="slide_2"></li>
      	<li class="slide_3"></li>
      	<li class="slide_4"></li>
      </ul>
      <ul id="slide_control">
    	<li id="first_button" class="first_button"></li>
        <li id="prev_button"  class="prev_button"></li>
        <li id="pause_button" class="pause_button"><span style="display:none;"> pause</span></li>
        <li id="next_button"  class="next_button"></li>
        <li id="last_button"  class="first_button"></li>
      </ul>
    </div>
    <ul id="portfolio-desc" class="grid_6 alpha omega">
    		
	      	<li><h2>Title 1 Goes Here</h2><p>Description 1 Goes here</p></li>
	      	<li><h2>Title 2 Goes Here</h2><p>Description 2 Goes Here</p></li>
	      	<li><h2>Title 3 Goes Here</h2><p>Description 3 Goes Here</p></li>
	      	<li><h2>Title 4 Goes Here</h2><p>Description 4 Goes Here</p></li>
	      	<li><h2>Title 5 Goes Here</h2><p>Description 5 Goes Here</p></li>
	</ul>
	<div class="clear"> &nbsp; </div>
  </div>
  </div>
